/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f7f9fc; // match your container background
  font: 1em sans-serif;
}
